:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#name-header
{
  font-size: 50px;
  font-weight: 500;
  padding: .7em;
  margin-top: 2%;
  margin-left: 5%;
}

.side-section
{
  padding: 1.5em;
  text-align: center;
}
.side-section ul li
{
  margin: 0.7em
}

.main-section
{
  padding: 1.5em;
  font-size: 15.5px;
  text-align: left;
}
.main-section h2
{
  text-align: center;
}
.main-section:last-child
{
  border-bottom: none;
}

@media screen and (min-width: 783px)
{
  #grid-root
  {
    display: grid; 
    grid-template-columns: 33% 1fr;
    grid-template-rows: repeat(auto-fill, 20em);
    grid-auto-flow: row dense;
  }

  .side-section
  {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    max-width: 16em;
  }
  .main-section
  {
    grid-column-start: 2;
  }

  .side-section:last-child
  {
    border-bottom: none;
  }
}

#address-list
{
  list-style: none;
}
.experience-item
{
  margin-bottom: 2em;
}

button
{
  margin-left: 30%;
}